#castle-body{
	
	position:relative;
	display:flex;
	height:100vh;
	width:100vw;
	
}

#castle-body canvas {
	
	position:absolute;
	
}

.castle-music{
	
	background-image: url('htalents/194.webp');
	background-size: cover;
	position:absolute;
	right: 1vh;
    width: 7vh;
	height: 7vh;
    object-fit: cover;
}

.button-outline:hover{
	filter: drop-shadow(-0.1vh 0.1vh 0vh rgb(221, 255, 0))
			drop-shadow(0.1vh -0.1vh 0vh rgb(221, 255, 0));
	transition: 300ms;
}
.button-outline:not(:hover){
	transition: 300ms;
}

.castle-play{
	
	position:absolute;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	/**background:rgba(0,0,255,0.3);**/
	height:12vh;
	width:100vw;
	top: 5vh;
	
}

.castle-button-play{
	text-shadow:rgba(0,0,0,0.3) 0 0 5px;
	text-align:center;
	padding:0.8vh 1vw;
	cursor:pointer;
	border-radius:15px;
	box-shadow:0 0 25px rgba(0,0,0,0.3);

	background:rgba(255,50,0,0.9);
	font: 5vh / 1 Verdana;
	color:rgba(255,255,255,0.9);
	
}

.castle-play-lobby{
	
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	margin-left:3vh;
	
}

.castle-play-lobby-player{
	height: 12vh;
	margin:0 0.5vw;
	cursor:pointer;
	background-size:12vh;
	background-position:center;
	background-repeat:no-repeat;
	border-radius:50%;

}

.castle-play-lobby-player .castle-play-lobby-empty{
	width: 100%;
	height: 100%;
	border-radius:50%;
	margin: 0 auto;
	cursor:pointer;
	
	font: 8vh / 1 Verdana;
	line-height: 11vh;
	text-align:center;
	color:rgba(255,255,255,.6);
	background: #9996;
	box-shadow: 0 0 2.2vh #000;
}

.castle-party-middle-item-ready-notready{
	margin-top: 0.1vw;
	text-align:center;
	font:1.8vh / 1 Verdana;
	padding: 0.5vh 0.4vh;
	text-shadow:rgba(0,0,0,0.3) 0 0 1vh;
	font-weight:600;
	font-style:italic;
	cursor:pointer;
	background:#244;
	border:0.1vh solid orange;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
}

.castle-party-middle-item-ready{
	color: rgba(150, 255, 150, .8);
}

.castle-party-middle-item-not-ready{
	color:rgba(255,255,255,0.3);
	
}

.castle-party-middle-item {
	
	margin:0 1vh;
	width: 16vh;
	
}

.castle-rank{
	width:100%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	position:absolute;
	bottom: 0;
}

.castle-rank-icon{
	
	width: 1.5vw;
	height: 1.5vw;
	background:#244;
	border:0.1vh solid orange;
	border-radius:50%;
	background-size:80%;
	background-position:center;
	background-repeat:no-repeat;
	
}

.castle-rank-lvl{
	height: 0.9vw;
	background: #244;
	border: 0.1vh solid darkorange;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
	color: #fdd;
	font: 0.9vw / 1 Arial;
	padding:0.1vw 0.5vw;
}

.castle-player-nickname-wremove {
	width: 80%;
	
	text-align: center;
}

.castle-player-nickname-woremove {
	width: 100%;
	text-align: center;
}

.castle-player-nickname {
	white-space:nowrap;
	display: inline-block;
	position: relative;
	text-overflow: clip;
}

.castle-player-nickname-autoscroll:hover {
	animation-timing-function: linear;
	animation-name: scroll-rtl;
	animation-duration: 4s;
	animation-direction: forwards;
	animation-iteration-count: infinite;
  }
  @keyframes scroll-rtl {
	  0% {
		transform: translate(0);
	  }
	  100% {
		transform: translate(-40%);
	  }
	}

.castle-party-remove {
	position: relative;
	top: -4.1vh;
	left: 11.9vh;
	width: 6vh;
	height: 6vh;
	background-size: 4.8vh;
	background-repeat:no-repeat;
	cursor: pointer;
}

.castle-party-middle-item-nickname {
	width: 100%;
	height: 2.2vh;
	margin:0.1vh 0;
	text-align:center;
	font: bold 1.2vh / 1 Verdana;
	padding: 0.5vh 0.4vh;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;

	color: #ccc;
	background:#244;
	border:0.1vh solid orange;
	
	display: flex;
	align-items:center;
	flex-flow:row nowrap;

	overflow: hidden;
}

.castle-hero{
	
	position:absolute;
	bottom:0;
	display:flex;
	align-items:center;
	flex-flow:row nowrap;
	background:rgba(255,0,0,0.0);
	height:18vh;
	width:100vw;
	overflow-x:scroll;
	background-image:linear-gradient(rgba(38, 109, 103, 0),rgba(18, 69, 73, 0.596),rgba(21,51,59,0.8),rgba(4,32,42,0.8));
	
}

.castle-hero-item{
	
	width:14vh;
	min-width:14vh;
	height:14vh;
	margin:0 0.5vw;
	cursor:pointer;
	background-size:100%;
	background-position:center;
	background-repeat:no-repeat;
	border-radius:50%;
	margin-bottom: 2vh;
}

.castle-hero-name{
	overflow: hidden;
	height: 0.9vw;
	background: #244;
	border: 0.1vh solid darkorange;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
	color: #fdd;
	font: 0.9vw / 1 Arial;
	padding:0.1vw 0.5vw;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.castle-item-hero-name{
	
	width:100%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	position:absolute;
	top:0;	
	
}

.castle-menu {
	
	position:absolute;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column nowrap;
	height:100vh;
	width:3vw;
	
}

.castle-menu-item{
	
	
	
}

.castle-chat{
	
	position:absolute;
	left:0;
	bottom: 22vh;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column nowrap;
	margin-top:19vh;
	height:62vh;
	width:25vw;
	
}

.castle-chat .chat{
	position: absolute;
	bottom: 0;
}