#castle-body{
	
	position:relative;
	display:flex;
	height:100vh;
	width:100vw;
	
}

#castle-body canvas {
	
	position:absolute;
	
}

.castle-music{
	
	background-image: url('htalents/194.webp');
	background-size: cover;
	position:absolute;
	right: 1vh;
    width: 7vh;
	height: 7vh;
    object-fit: cover;
}

.button-outline:hover{
	filter: drop-shadow(-0.1vh 0.1vh 0vh rgb(221, 255, 0))
			drop-shadow(0.1vh -0.1vh 0vh rgb(221, 255, 0));
	transition: 300ms;
}
.button-outline:not(:hover){
	transition: 300ms;
}

.castle-play{
	
	position:absolute;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	/**background:rgba(0,0,255,0.3);**/
	height:12vh;
	width:100vw;
	top: 5vh;
	
}

.castle-button-play{
	margin-top: -160px;
	background:rgba(255,50,0,0.9);
	font: 3vh / 1 Verdana;
	color:rgba(255,255,255,0.9);
	
}

.castle-play-lobby{
	
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	margin-left:3vh;
	
}

.castle-play-lobby-player{
	
	width: 10vh;
	height: 10vh;
	border-radius:50%;
	background-size: 10vh !important;
	background-repeat: no-repeat !important;
	background-position:center;
	background-repeat:no-repeat;
	margin: 0 auto;
	cursor:pointer;
	font: 8vh / 1 Verdana;
	line-height: 9vh;
	text-align:center;
	color:rgba(255,255,255,.6);
	background: #9996;
	box-shadow: 0 0 26px #000;
}

.castle-party-middle-item-ready-notready{
	margin-top: 0.1vw;
	text-align:center;
	font:1.8vh / 1 Verdana;
	padding: 0.5vh 0.4vh;
	text-shadow:rgba(0,0,0,0.3) 0 0 1vh;
	font-weight:600;
	font-style:italic;
	cursor:pointer;
	background:#244;
	border:0.1vh solid orange;
	width: 8vw;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
}

.castle-party-middle-item-ready{
	color: rgba(150, 255, 150, .8);
}

.castle-party-middle-item-not-ready{
	color:rgba(255,255,255,0.3);
	
}

.castle-party-middle-item {
	
	margin:0 0vw;
	
	
}

.castle-rank{
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	position:absolute;
	bottom: 13px;
}

.castle-rank-icon{
	
	width: 1.5vw;
	height: 1.5vw;
	background:#244;
	border:0.1vh solid orange;
	border-radius:50%;
	background-size:80%;
	background-position:center;
	background-repeat:no-repeat;
	
}

.castle-rank-lvl{
	
	height: 0.9vw;
	background: #244;
	border: 0.1vh solid darkorange;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
	color: #fdd;
	font: 0.9vw / 1 Arial;
	padding:0.1vw 0.5vw;
	margin: 0 3vw 0 -1vw;
}

.castle-player-nickname {
	width: 90%;
}

.castle-party-remove {
	position:relative;
	top: -2.55vh;
	left: 14.4vh;
	width: 3vh;
	height: 3vh;
	background-size:4vh 4vh;
	background-position: top -0.5vh left -0.5vh;
	background-repeat:no-repeat;
	cursor: pointer;
}

.castle-party-middle-item-nickname {
	margin:0.1vw 0;
	text-align:center;
	font: bold 1.0vw / 1 Verdana;
	padding: 0.5vh 0.4vh;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
	flex-flow:row nowrap;
	color: #ccc;
	background:#244;
	width: 8vw;
	height: 1vw;
	
	border:0.1vh solid orange;

	white-space: nowrap;
	overflow: hidden;
}

.castle-party-middle-item-nickname div {
	white-space:nowrap;
	overflow:hidden;
	text-overflow: ellipsis;
}

.castle-hero{
	
	position:absolute;
	bottom:0;
	display:flex;
	align-items:center;
	flex-flow:row nowrap;
	background:rgba(255,0,0,0.0);
	height:18vh;
	width:100vw;
	overflow-x:scroll;
	background-image:linear-gradient(rgba(38, 109, 103, 0),rgba(18, 69, 73, 0.596),rgba(21,51,59,0.8),rgba(4,32,42,0.8));
	
}

.castle-hero-item{
	
	width:16vh;
	min-width:16vh;
	height:16vh;
	margin:0 0.5vw;
	cursor:pointer;
	background-size:110%;
	background-position:center;
	background-repeat:no-repeat;
	border-radius:50%;
	/**background-color:linear-gradient(rgba(238,221,119,0.9),rgba(163,125,58,0.9),rgba(212,178,83,0.9),rgba(189,135,48,0.9),rgba(241,225,119,0.9));**/
	
}

.castle-hero-name{
	height: 0.9vw;
	background: #244;
	border: 0.1vh solid darkorange;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
	color: #fdd;
	font: 0.9vw / 1 Arial;
	padding:0.1vw 0.5vw;
	text-overflow: ellipsis;
	white-space:nowrap;
}

.castle-item-hero-name{
	
	width:100%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	position:absolute;
	top:0;	
	
}

.castle-menu {
	
	position:absolute;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column nowrap;
	height:100vh;
	width:3vw;
	
}

.castle-menu-item{
	
	
	
}

.castle-chat{
	
	position:absolute;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column nowrap;
	margin-top:19vh;
	height:62vh;
	width:25vw;
	
}
