#castle-body{
	
	position:relative;
	display:flex;
	height:100vh;
	width:100vw;
	
}

#castle-body canvas {
	
	position:absolute;
	
}

.castle-settings{
	position:absolute;
	right: 1vh;
	display: flex;
	flex-direction: row-reverse;
}

.castle-settings div{
	position: relative;
	top: 1vh;
	opacity: 50%;
	margin: 0 1vh;
}

.castle-settings div:hover{ 
	opacity: 100%;
	transition: all 0.3s ease-out;
}

.castle-close{
    width: 7vh;
	height: 7vh;
	background-image: url('icons/close-cropped.svg');
	background-size: cover;
    object-fit: cover;
	cursor: pointer;
}

.castle-builds{
    width: 7vh;
	height: 7vh;
	background-image: url('talents/268.webp');
	background-size: cover;
    object-fit: cover;
	cursor: pointer;
}

.castle-music{
    width: 7vh;
	height: 7vh;
	background-image: url('htalents/243.webp');
	background-size: cover;
    object-fit: cover;
	cursor: pointer;
}

.castle-render{
    width: 7vh;
	height: 7vh;
	background-image: url('htalents/542.webp');
	background-size: cover;
    object-fit: cover;
	cursor: pointer;
}

.castle-settings-btn{
    width: 7vh;
	height: 7vh;
	background-image: url('htalents/8.webp');
	background-size: cover;
    object-fit: cover;
	cursor: pointer;
}
.castle-settings-window{
    width: 7vh;
	height: 7vh;
	background-color: #000;
}

.castle-input{
	width: 7vh;
    height: 0.1vh;
}

.button-outline:hover{
	filter: drop-shadow(-0.1vh 0.1vh 0vh rgba(221, 255, 0, 0.5))
			drop-shadow(0.1vh -0.1vh 0vh rgba(221, 255, 0, 0.5));
	transition: 300ms;
}
.button-outline:not(:hover){
	transition: 300ms;
}

.castle-play{
	
	position:absolute;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	/**background:rgba(0,0,255,0.3);**/
	width:100vw;
	top: 0vh;
	
}

.castle-button-play {
    width: auto;
    height: 5vh;
    text-shadow: rgba(0, 0, 0, 0.3) 0 0 5px;
    text-align: center;
    padding: 0.8vh 1vh;
    cursor: pointer;
    border-radius: 1.5cqh;/* Закругленные углы */
    box-shadow: 0 0 1cqh rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 1vh;
    background: linear-gradient(to top, rgb(100, 30, 0), rgba(255, 70, 0, 0.9)); /* Увеличенный тон градиента */
    font: 4.5vh / 1 Verdana;
    overflow: hidden;
    color: rgba(255, 255, 255, 0.9);
    border: 0.1cqh solid rgb(158, 155, 104); /* Окантовка */
    transition: transform 0.3s, box-shadow 0.3s; /* Плавный переход */
}

.castle-button-play:hover {
    transform: scale(1.05); /* Увеличение при наведении */
    box-shadow: 0 0 1cqh rgba(255, 70, 0, 0.9); /* Увеличенный эффект тени при наведении */
}

.castle-play-lobby{
	height: auto;
	width: 45%;
	display:flex;
	flex-flow:row wrap;
	justify-content:start;
	align-items:start;
	position: absolute;
	left: 0;
	top: 0;
	
}

.castle-play-lobby-player{
	width: auto;
	height: 10vh;
	margin:0 1vh;
	cursor:pointer;

	background-size:100%;
	background-position:center;
	background-repeat:no-repeat;
}

.castle-play-lobby-empty{
	width: 100%;
	height: 100%;
	border-radius:50%;
	cursor:pointer;

	background: #9996;
	box-shadow: 0 0 2.2vh #000;

	display:flex;
	flex-direction: column;
	text-align:center;
	align-items: center;
}

.castle-play-lobby-empty div {
	width: 100%;
	font: 8.5vh / 1 Verdana;
	color:rgba(255,255,255,.6);

	
}

.castle-party-middle-item-ready-notready{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0.2vh;
	text-align:center;
	font:1.4vh / 1 Verdana;
	text-shadow:rgba(0,0,0,0.3) 0 0 1vh;
	font-weight:600;
	font-style:italic;
	cursor:pointer;
}

.castle-party-middle-item-ready-notready div{
	width: 90%;
	background:#244;
	border:0.1vh solid orange;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
	padding: 0.3vh 0.1vh;
}

.castle-party-middle-item-ready{
	color: rgba(150, 255, 150, .8);
}

.castle-party-middle-item-not-ready{
	color:rgba(255,255,255,0.3);
	
}

.castle-party-middle-item {
	
	margin:0 1vh;
	width: 13vh;
	height: 100%;
	
}

.castle-rank{
	width:95%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	position:absolute;
	bottom: 0;
}

.castle-play-rank{
	width: 100%;
	height: 100%;
	display:flex;
	flex-flow:row nowrap;
	align-items:end;
	position: relative;
	bottom: 0.1vh;
}

.castle-play-rank-lvl{
	width: 30%;
	text-align: center;
	height: 1.5vh;
	background: #244;
	border: 0.1vh solid darkorange;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
	color: #fdd;
	font: 1.5vh / 1 Arial;
	padding:0.2vh 0.5vw;
}

.castle-play-rank-icon{
	position: absolute;
	right: 0;
	width: 20%;
	height: 20%;
	background:#244;
	border:0.1vh solid orange;
	border-radius:50%;
	background-size:80%;
	background-position:center;
	background-repeat:no-repeat;
	
}

.castle-play-lobby-ranks{
	width: 100%;
}

.castle-rank-icon{
	position: relative;
	right: 0;
	width: 2.3vh;
	height: 2.3vh;
	background:#244;
	border:0.1vh solid orange;
	border-radius:50%;
	background-size:80%;
	background-position:center;
	background-repeat:no-repeat;
	
}

.castle-rank-lvl{
	width: 3.5vh;
	text-align: center;
	height: 1.5vh;
	background: #244;
	border: 0.1vh solid darkorange;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
	color: #fdd;
	font: 1.5vh / 1 Arial;
	padding:0.2vh 0.5vw;
}


.castle-player-nickname {
	white-space:nowrap;
	display: inline-block;
	position: relative;
	text-overflow: clip;
	width: 100%;
	text-align: center;
}

.castle-name-autoscroll {
	overflow: scroll;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.castle-name-autoscroll:hover {
	overflow: initial;
	white-space:nowrap;
	text-overflow:initial;

	animation-timing-function: linear;
	animation-name: scroll-rtl;
	animation-duration: 4s;
	animation-direction: forwards;
	animation-iteration-count: infinite;
  }
  @keyframes scroll-rtl {
	  0% {
		transform: translate(0);
	  }
	  100% {
		transform: translate(-40%);
	  }
	}

.castle-party-remove {
	position: relative;
	right: -1vh;
	margin-left: -2vh;
	width: 3.6vh;
	height: 3.6vh;
	background-size: contain;
	background-position: center;
	background-repeat:no-repeat;
	cursor: pointer;
}

.castle-party-middle-item-nickname-hidden-overflow {
	width: 100%;
	height: 100%;
	text-align:center;
	
	display: flex;
	align-items:center;
	flex-flow:row nowrap;

	overflow: hidden;
}

.castle-party-middle-item-nickname {
	width: auto;
	height: 1.2vh;
	margin:0.5vh 0vh;
	text-align:center;
	font: bold 1.2vh / 1 Verdana;
	padding: 0.5vh 0.4vh;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;

	color: #ccc;
	background:#244;
	border:0.1vh solid orange;
	display: flex;
	align-items:center;
	flex-flow:row nowrap;
}

.castle-hero{
	
	position:absolute;
	bottom:0;
	display:flex;
	align-items:center;
	flex-flow:row nowrap;
	background:rgba(255,0,0,0.0);
	height:18vh;
	width:100vw;
	overflow-x:scroll;
	background-image:linear-gradient(rgba(38, 109, 103, 0),rgba(18, 69, 73, 0.596),rgba(21,51,59,0.8),rgba(4,32,42,0.8));
	
}

.castle-hero-item{
	
	width:12vh;
	min-width:12vh;
	height:12vh;
	margin:0 0.2vw;
	cursor:pointer;
	background-size:100%;
	background-position:center;
	background-repeat:no-repeat;
}

.castle-hero-name{
	overflow: scroll;
	height: 1.5vh;
	background: #244;
	border: 0.1vh solid darkorange;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
	color: #fdd;
	font: 1.5vh / 1 Arial;
	padding:0.2vh 0.5vh;
	white-space:nowrap;
}

.castle-item-hero-name{
	
	width:100%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	position:absolute;
	top:0;	
	
}

.castle-menu {
	
	position:absolute;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column nowrap;
	height:100vh;
	width:3vw;
	
}

.castle-chat{
	
	position:absolute;
	right:0;
	bottom: 22vh;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column nowrap;
	margin-top:19vh;
	height:62vh;
	width:50vh;
	
}

.castle-chat .chat{
	position: absolute;
	bottom: 0;
}