#castle-body{
	
	position:relative;
	display:flex;
	height:100vh;
	width:100vw;
	
}

#castle-body canvas {
	
	position:absolute;
	
}

.castle-music{
	
	background-image: url('htalents/194.webp');
	background-size: cover;
	position:absolute;
	right: 1vh;
    width: 7vh;
	height: 7vh;
    object-fit: cover;
}

.button-outline:hover{
	filter: drop-shadow(-0.1vh 0.1vh 0vh rgb(221, 255, 0))
			drop-shadow(0.1vh -0.1vh 0vh rgb(221, 255, 0));
	transition: 300ms;
}
.button-outline:not(:hover){
	transition: 300ms;
}

.castle-play{
	
	position:absolute;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	/**background:rgba(0,0,255,0.3);**/
	height:12vh;
	width:100vw;
	
}

.castle-play-lobby{
	
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	margin-left:3vh;
	
}

.castle-play-lobby-player{
	
	width:10vh;
	height:10vh;
	border-radius:50%;
	background-size:110%;
	background-position:center;
	background-repeat:no-repeat;
	margin:0 0.5vh;
	cursor:pointer;
	
}

.castle-hero{
	
	position:absolute;
	bottom:0;
	display:flex;
	align-items:center;
	flex-flow:row nowrap;
	background:rgba(255,0,0,0.3);
	height:19vh;
	width:100vw;
	overflow-x:scroll;
	background-image:linear-gradient(rgba(38,109,103,0.8),rgba(18,69,73,0.8),rgba(21,51,59,0.8),rgba(4,32,42,0.8));
	
}

.castle-hero-item{
	
	width:16vh;
	min-width:16vh;
	height:16vh;
	margin:0 0.5vw;
	cursor:pointer;
	background-size:110%;
	background-position:center;
	background-repeat:no-repeat;
	border-radius:50%;
	/**background-color:linear-gradient(rgba(238,221,119,0.9),rgba(163,125,58,0.9),rgba(212,178,83,0.9),rgba(189,135,48,0.9),rgba(241,225,119,0.9));**/
	
}

.castle-menu {
	
	position:absolute;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column nowrap;
	height:100vh;
	width:3vw;
	
}

.castle-menu-item{
	
	
	
}

.castle-chat{
	
	position:absolute;
	left:0;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column nowrap;
	margin-top:19vh;
	height:62vh;
	width:25vw;
	
}