html,body{cursor:url('img/cursor.png') 0 0,default}

@keyframes search {
	0% {
		transform:rotate(0deg) scale(1);
	}
	
	25%{
		
		transform:rotate(90deg) scale(1.1);
		
	}
	
	50% {
		
		transform:rotate(180deg) scale(1);
		
	}
	
	75%{
		
		transform:rotate(270deg) scale(0.9);
		
	}

	100% {
		transform:rotate(360deg) scale(1);
	}
}

#castle-body{
	
	position:relative;
	display:flex;
	height:100cqh;
	width:100cqw;
	
}

#castle-body canvas {
	
	position:absolute;
	
}

.castle-settings{
	position:absolute;
	right: 1cqh;
	display: flex;
	flex-direction: row-reverse;
}

.castle-settings div{
	position: relative;
	top: 1cqh;
	opacity: 50%;
	margin: 0 1cqh;
}

.castle-settings div:hover{ 
	opacity: 100%;
	transition: all 0.3s ease-out;
}

.castle-close{
    width: 7cqh;
	height: 7cqh;
	background-image: url('icons/close-cropped.svg');
	background-size: cover;
    object-fit: cover;
}

.castle-menu{
    width: 7cqh;
	height: 7cqh;
	background-image: url('htalents/8.webp');
	background-size: cover;
    object-fit: cover;
}

.castle-clans{
    width: 7cqh;
	height: 7cqh;
	background-image: url('htalents/32.webp');
	background-size: cover;
    object-fit: cover;
}

.castle-top{
    width: 7cqh;
	height: 7cqh;
	background-image: url('talents/268.webp');
	background-size: cover;
    object-fit: cover;
}

.castle-history{
    width: 7cqh;
	height: 7cqh;
	background-image: url('talents/441.webp');
	background-size: cover;
    object-fit: cover;
}

.castle-farm{
    width: 7cqh;
	height: 7cqh;
	background-image: url('talents/762.webp');
	background-size: cover;
    object-fit: cover;
}

.castle-music{
    width: 7cqh;
	height: 7cqh;
	background-image: url('htalents/243.webp');
	background-size: cover;
    object-fit: cover;
}

.castle-render{
    width: 7cqh;
	height: 7cqh;
	background-image: url('htalents/542.webp');
	background-size: cover;
    object-fit: cover;
}

.castle-settings-btn{
    width: 7cqh;
	height: 7cqh;
	background-image: url('htalents/8.webp');
	background-size: cover;
    object-fit: cover;
}
.castle-settings-window{
    width: 7cqh;
	height: 7cqh;
	background-color: #000;
}

.castle-input{
	width: 7cqh;
    height: 0.1cqh;
}

.button-outline:hover{
	filter: drop-shadow(-0.1cqh 0.1cqh 0cqh rgba(221, 255, 0, 0.5))
			drop-shadow(0.1cqh -0.1cqh 0cqh rgba(221, 255, 0, 0.5));
	transition: 300ms;
}
.button-outline:not(:hover){
	transition: 300ms;
}

.castle-play{
	
	position:absolute;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	/**background:rgba(0,0,255,0.3);**/
	width:100cqw;
	top: 0cqh;
	
}

#MMQueue{
	
	font-size: 1cqh;
	margin-top:0.1cqh;
	opacity:0.9;
	
}

#MMQueue::before{
	
	content:'Очередь ';
	
}

.castle-button-play {
	
	display:flex;
	flex-flow:column nowrap;
	align-items:center;
    width: 15vw;
    height: 10vw;
	position:relative;
	top:2.5vw;
	transform:scale(1.3);	
}

.castle-button-play-mode,
.castle-button-play-m1,
.castle-button-play-m2,
.castle-button-play-m3,
.castle-button-play-m4,
.castle-button-play-1,
.castle-button-play-2, 
.castle-button-play-3,
.castle-button-play-4,
.castle-button-play-5,
.castle-button-play-6,
.castle-button-play-7,
.castle-button-play-8,
.castle-button-play-9,
.castle-button-play-l1,
.castle-button-play-l2{
	
	background-repeat: no-repeat;
	background-position:center;
	background-size:cover;
	position:absolute;
	
}

.castle-button-play-mode{
	
	z-index:3;
	background-image: url('img/m1.png');
	width:4vw;
	aspect-ratio:1/1;
	border-radius:50%;
	transform:scale(0.7);
	
}

.castle-button-play-m1{
	
	z-index:3;
	background-image: url('img/m1.png');
	width:4vw;
	aspect-ratio:1/1;
	top:3.8vw;
	right:10.5vw;
	transform:scale(0.6);
	display:none;
	
}

.castle-button-play-m2{
	
	z-index:1;
	background-image: url('img/m2.png');
	width:4vw;
	aspect-ratio:1/1;
	top:3.8vw;
	right:7.2vw;
	transform:scale(0.6);
	display:none;
	
}

.castle-button-play-m3{
	
	z-index:1;
	background-image: url('img/m3.png');
	width:4vw;
	aspect-ratio:1/1;
	top:3.8vw;
	left:7.2vw;
	transform:scale(0.6);
	display:none;
	
}

.castle-button-play-m4{
	
	z-index:1;
	background-image: url('img/m4.png');
	width:4vw;
	aspect-ratio:1/1;
	top:3.8vw;
	left:10.5vw;
	transform:scale(0.6);
	display:none;
	
}

.castle-button-play-m1:after,
.castle-button-play-m2:after,
.castle-button-play-m3:after,
.castle-button-play-m4:after{
	
	font:0.7vw/1 Arial;
	position:absolute;
	top:4.5vw;
	width:4vw;
	text-align:center;
	color:rgba(189,139,23);
	text-shadow: 0.1vw 0 0.1vw rgb(74,75,46);
	
}

.castle-button-play-m1:after{
	content:'Пограничье';
}

.castle-button-play-m2:after{
	content:'Форпост';
}

.castle-button-play-m3:after{
	content:'Драгонвальд';
}

.castle-button-play-m4:after{
	content:'Чехарда';
}

.castle-button-play-1 {
	
	z-index:5;
	background-image: url('img/b1.png');
	width:3.5vw;
	aspect-ratio:16/5;
	top:3.3vw;
	
}

.castle-button-play-2 {
	
	z-index:2;
	background-image: url('img/b2.png');
	width:4vw;
	aspect-ratio:1/1;
	border-radius:50%;
	
	
	
}

.castle-button-play-3 {
	
	z-index:2;
	background-image: url('img/b3.png');
	width:7vw;
	aspect-ratio:154/65;
	top:3.8vw;
	text-align:center;
	line-height:3vw;
	color:#ffe78a;
	font-family:Arial;
	font-size:1.4vw;
	
}

.castle-button-play-4 {
	
	z-index:1;
	background-image: url('img/b4.png');
	width:4vw;
	top:1vw;
	left:8vw;
	aspect-ratio:73/58;

	
}

.castle-button-play-5 {
	
	z-index:1;
	background-image: url('img/b5.png');
	width:4vw;
	top:1vw;
	right:8vw;
	aspect-ratio:73/58;
	
}

.castle-button-play-6 {
	
	z-index:1;
	background-image: url('img/b6.png');
	width:4vw;
	top:0.5vw;
	right:8.3vw;
	aspect-ratio:41/42;
	transform:scale(0.5);
	
}

.castle-button-play-7 {
	
	z-index:1;
	background-image: url('img/b6.png');
	width:4vw;
	top:0.5vw;
	left:8.3vw;
	aspect-ratio:41/42;
	transform:scale(0.5);
	
}

.castle-button-play-8 {
	
	z-index:4;
	background-image: url('img/b7.png');
	width:4vw;
	transform:scale(1);
	aspect-ratio:1/1;
	border-radius:50%;

	
}

.castle-button-play-8 div{
	
	position:absolute;
	top:2.6vw;
	width:4vw;
	text-align:center;
	font-weight:600;
	font-size:0.7vw;
	color:rgba(255,255,255,0.7);
	font-family:Arial;
	
}

.castle-button-play-9 {
	
	display:none;
	z-index:0;
	background-image: url('img/b8.png');
	top:3.7vw;
	width:16vw;
	aspect-ratio:500/133;
	
}


.castle-button-play-l1{
	
	animation: search 1.3s linear infinite;
	z-index:7;
	background-image: url('img/l1.png');
	aspect-ratio:1/1;
	width:4vw;
	display:none;
	
}

.castle-play-lobby{
	height: auto;
	width: 45%;
	display:flex;
	flex-flow:row wrap;
	justify-content:start;
	align-items:start;
	position: absolute;
	left: 0;
	top: 0;
	
}

.castle-play-lobby-player{
	width: auto;
	height: 10cqh;
	margin:0 1cqh;
	background-size:100%;
	background-position:center;
	background-repeat:no-repeat;

	container-type: size;
}

.castle-play-lobby-empty{
	width: 100cqh;
	height: 100cqh;
	border-radius:50%;

	background: #9996;
	box-shadow: 0 0 2.2cqh #000;

	display:flex;
	text-align:center;
	margin: auto;
	container-type: size;
}

.castle-play-lobby-empty div {
	width: 100cqh;
	height: 100cqh;
	line-height: 100cqh;
	font: 90cqw / 1 Tahoma;
	color:rgba(255,255,255,.6);

	
}

.castle-party-middle-item-ready-notready{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0.2cqh;
	text-align:center;
	font:1.4cqh / 1 Tahoma;
	text-shadow:rgba(0,0,0,0.3) 0 0 1cqh;
	font-weight:600;
	font-style:italic;
	container-type: size;
}

.castle-party-middle-item-ready-notready div{
	width: 90%;
	background:#244;
	border:0.1cqh solid orange;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
	padding: 0.3cqh 0.1cqh;
}

.castle-party-middle-item-ready{
	color: rgba(150, 255, 150, .8);
}

.castle-party-middle-item-not-ready{
	color:rgba(255,255,255,0.3);
	
}

.castle-party-middle-item {
	
	margin:0 1cqh;
	width: 13cqh;
	height: 100%;
	
}

.castle-rank{
	width:95%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:space-between;
	align-items:center;
	position:absolute;
	bottom: 0;
}

.castle-play-rank{
	width: 100%;
	height: 100%;
	display:flex;
	flex-flow:row nowrap;
	align-items:end;
	position: relative;
	bottom: 0.1cqh;
}

.castle-play-rank-lvl{
	width: 30%;
	text-align: center;
	height: 1.5cqh;
	background: #244;
	border: 0.1cqh solid darkorange;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
	color: #fdd;
	font: 1.5cqh / 1 Tahoma;
	padding:0.2cqh 0.5cqw;
}

.castle-play-rank-icon{
	position: absolute;
	right: 0;
	width: 20%;
	height: 20%;
	background:#244;
	border:0.1cqh solid orange;
	border-radius:50%;
	background-size:80%;
	background-position:center;
	background-repeat:no-repeat;
	
}

.castle-play-lobby-ranks{
	width: 100%;
}

.castle-rank-icon{
	position: relative;
	right: 0;
	width: 2.3cqh;
	height: 2.3cqh;
	background:#244;
	border:0.1cqh solid orange;
	border-radius:50%;
	background-size:80%;
	background-position:center;
	background-repeat:no-repeat;
	
}

.castle-rank-lvl{
	width: 3.5cqh;
	text-align: center;
	height: 1.5cqh;
	background: #244;
	border: 0.1cqh solid darkorange;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
	color: #fdd;
	font: 1.5cqh / 1 Tahoma;
	padding:0.2cqh 0.5cqw;
}


.castle-player-nickname {
	white-space:nowrap;
	display: inline-block;
	position: relative;
	text-overflow: clip;
	width: 100%;
	text-align: center;
	font: 1.4cqh / 1 Tahoma;
	height: 1.6cqh;
}

.castle-name-autoscroll {
	overflow: scroll;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.castle-name-autoscroll:hover {
	overflow: initial;
	white-space:nowrap;
	text-overflow:initial;

	animation-timing-function: linear;
	animation-name: scroll-rtl;
	animation-duration: 4s;
	animation-direction: forwards;
	animation-iteration-count: infinite;
  }
  @keyframes scroll-rtl {
	  0% {
		transform: translate(0);
	  }
	  100% {
		transform: translate(-40%);
	  }
	}

.castle-party-remove {
	position: relative;
	right: -1cqh;
	margin-left: -2cqh;
	width: 3.6cqh;
	height: 3.6cqh;
	background-size: contain;
	background-position: center;
	background-repeat:no-repeat;
}

.castle-party-middle-item-nickname-hidden-overflow {
	width: 100%;
	height: 100%;
	text-align:center;
	
	display: flex;
	align-items:center;
	flex-flow:row nowrap;

	overflow: hidden;
}

.castle-party-middle-item-nickname {
	width: auto;
	height: 1.2cqh;
	margin:0.5cqh 0cqh;
	text-align:center;
	font: bold 1.2cqh / 1 Tahoma;
	padding: 0.5cqh 0.4cqh;
	border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;

	color: #ccc;
	background:#244;
	border:0.1cqh solid orange;
	display: flex;
	align-items:center;
	flex-flow:row nowrap;
}

.castle-bottom{
	
	position:absolute;
	bottom:0;
	display:flex;
	align-items:center;
	flex-flow:row nowrap;
	width:100cqw;
	height:13cqh;
	background-image:linear-gradient(rgba(38, 109, 103, 0),rgba(18, 69, 73, 0.596),rgba(21,51,59,0.8),rgba(4,32,42,0.8));
	
}

.castle-bottom-menu{
	
	min-width:6vh;
	height:15cqh;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
}

.castle-bottom-menu div{
	
	width:2cqw;
	min-width:5vh;
	height:2cqw;
	min-height:5vh;
	margin:0.5vh 0;
	border-radius:50%;
	background:rgba(255,255,255,0.3);
	background-size: contain;
	
}

.castle-bottom-menu :first-child {
	background-image: url('htalents/270.webp');
}
.castle-bottom-menu :last-child {
	background-image: url('htalents/456.webp');
}

.castle-bottom-content{
	
	display:flex;
	align-items:center;
	flex-flow:row nowrap;
	height:12cqh;
	width:97cqw;
	overflow-x:scroll;
	
}

.castle-hero-item,.castle-friend-item{
	
	width:12cqh;
	min-width:12cqh;
	height:12cqh;
	margin:0 0.2cqw;
	background-size:100%;
	background-position:center;
	background-repeat:no-repeat;
	container-type: size;
	
}

.castle-friend-item-middle{
	
	position:absolute;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
	
}

.castle-friend-item-bottom{
	
	width:100%;
	display:flex;
	flex-flow:column nowrap;
	justify-content:center;
	align-items:center;
	position:absolute;
	gap: 0.2vw;
	bottom:0;
	
}

.castle-friend-online{
	font-weight:600;
	font-size:10cqh;
	color:rgba(102,255,0,0.9);
	
}

.castle-friend-request{
	
	color:rgba(255,255,255,0.8);
	font-size:9cqw;
	text-align:center;
	font-weight:800;
	
}

.castle-friend-add{
	font-size:50cqw;
	font-weight:800;
	text-align:center;
	color:rgba(255,255,255,0.5);
}

.castle-friend-add-group{
	
	overflow: scroll;
    height: 13cqh;
    background: radial-gradient(ellipse at center, rgb(0, 49, 57) 0%, rgb(16, 110, 89) 100%);
    border: 0.1vw solid rgb(96, 80, 52);
    border-radius: 0.3vw;
    color: white;
    font: 12cqh / 1 Tahoma;
    padding:1cqh 5cqh;
    white-space:nowrap;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: background 0.3s, transform 0.2s;
	
}

.castle-friend-add-group:hover {
	background: radial-gradient(
		ellipse at center,
		rgb(0, 49, 57) 30%,
		rgb(16, 110, 89) 100%
	);
}

.castle-friend-confirm {
	
	overflow: scroll;
    height: 13cqh;
    background: radial-gradient(ellipse at center, rgb(0, 49, 57) 0%, rgb(16, 110, 89) 100%);
    border: 0.1vw solid rgb(96, 80, 52);
    border-radius: 0.3vw;
    color: white;
    font: 12cqh / 1 Tahoma;
    padding:1cqh 5cqh;
    white-space:nowrap;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: background 0.3s, transform 0.2s;
	
}

.castle-friend-confirm:hover {
	background: radial-gradient(
		ellipse at center,
		rgb(0, 49, 57) 30%,
		rgb(16, 110, 89) 100%
	);
}

.castle-friend-cancel{
	
	
	overflow: scroll;
    height: 13cqh;
    background: linear-gradient(to bottom, rgb(166, 96, 87) 15%, rgb(74, 10, 1) 50%, rgb(99, 36, 28) 100%);
    border: 0.1vw solid rgb(96, 80, 52);
    border-radius: 0.3vw;
    color: white;
    font: 12cqh / 1 Tahoma;
    padding:1cqh 5cqh;
    white-space:nowrap;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	transition: background 0.3s, transform 0.2s;
	z-index: 10;
	
}

.castle-friend-cancel:hover {
	background: linear-gradient(
		to bottom,
		rgb(166, 96, 87) 10%,
		rgb(74, 10, 1) 45%,
		rgb(99, 36, 28) 100%
	);
}

.castle-hero-name{
	
	overflow: scroll;
    height: 13cqh;
    background: #244;
    border: 0.1cqh solid darkorange;
    border-radius: 150px 150px 154px 154px / 131px 131px 125px 125px;
    color: #fdd;
    font: 12cqh / 1 Tahoma;
    padding:2cqh 5cqh;
    white-space:nowrap;
	
}

.castle-item-hero-name{
	
	width:100%;
	display:flex;
	flex-flow:row nowrap;
	justify-content:center;
	align-items:center;
	position:absolute;
	top:0;	
	
}

.castle-chat{
	
	position:absolute;
	right:0;
	bottom: 22cqh;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-flow:column nowrap;
	margin-top:19cqh;
	height:62cqh;
	width:50cqh;
	
}

.castle-chat .chat{
	position: absolute;
	bottom: 0;
}
@media (max-aspect-ratio: 1/1) {
	.castle-settings {
		flex-direction: column;
	}
}