
.clan-wapper{
    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;

}
#close{
    position: absolute;
    bottom: 97%;
    left: 98%;
}

#settings:hover{
    opacity: 1;
}
.main__clan__wrapper{

    width: 1400px;
    height: 700px;
    /*background: url("./images/main123456789912345678.png") no-repeat center  top fixed;*/
    /*background-size: cover;*/
    background-image: linear-gradient(to bottom, rgba(4, 32, 42, 0.37), rgba(18, 69, 73, 0.38), rgba(21, 51, 59, 0.34), rgba(18, 69, 73, 0.37), rgba(4, 32, 42, 0.9));
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    border: 2px solid transparent;
    /*border-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 153, 0, 0.49)) 1 1;*/
    border: 6px groove rgba(45, 75, 73, 0.78);

}
.left-side-clan{
    height: 100%;
    width: 25%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
}
.right-side-clan{
    height: 100%;
    width: 75%;
    border-radius: 0 0.5rem 0.5rem 0;
    background: linear-gradient(to bottom, rgba(5, 41, 54, 0.7), rgba(27, 101, 108, 0.7), rgba(30, 72, 83, 0.7), rgba(24, 90, 95, 0.7), rgba(4, 32, 42, 0.9));
    /* box-shadow: 0 0 8px rgb(0, 0, 0); */
  display: flex  ;
  justify-content: center;
  align-items: start;
    border-left: .1em groove #b18d01;
}
.top__side__wrapper{
    height: 55%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(to bottom, rgba(5, 41, 54, 0.7), rgba(27, 101, 108, 0.7), rgba(30, 72, 83, 0.7), rgba(24, 90, 95, 0.7), rgba(4, 32, 42, 0.9));

    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px rgb(0, 0, 0);

}

.clan__icon__wrapper{
    background: url("./images/main12345678991234567.png") center center no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 5px;
    
    transform: scale(1.1);
}

#icon__clan__mainGZ{
    width: 220px;
    height: 220px;
}
.clan__name__wrapper{
    height: 40%;
    width: 230px;
    font-size: 1.2em;
    text-align: center;



    border-radius: 2rem;
    background-size: cover;
    z-index: 6;

    display: flex;
    justify-content: center;
    align-items: center;
}
.clan-info-top-left-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.clan-name{
    font-size: 1.2em;
    z-index: 3;
    background: linear-gradient( #0f5052, #1c2b24);
    color: white;
    border-radius: 2rem;
    border: 5px groove rgb(140, 146, 95);
    padding: 5px  15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clan__name__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.3em;

}
.wrapper__clan__icon_icons{

    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: -15px;
    flex-direction: column;
}
.wrapper__clan__Stats_qwe{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    margin-top: 10px;
}
.wrap-left-stats-qwe{
  text-aligh: center;
}
.wrapper__clan__Stats_qwe p{
  margin-bottom: 5px;
}
.wrapper_stat_left{
    height: 100%;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 4px groove  #2d4b49; */
    
    border-radius: 10px;/* 
    background: rgba(92, 92, 92, 0.32);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.99); */
}
.clan__lvl_wrapper{
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
    transform: scale(120%);
    translate: 10px;
     /* background: rgba(0, 200, 255, 0.68); */
     color: #ffffff;
     background-size: cover;
    background: url("./images/main1234567899123456.png") center center no-repeat;
    z-index: 5;
    font-weight: 500;
    text-align: center;

 }
.clan__add_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("./images/main1234567899123456.png") center center no-repeat;

    padding:6px;
    border-radius: 50%;
    translate: -30px;
    width: 35px;
    height: 35px;
    transform:scale(1.4);


    transition: .2s;


}

#add__clan{
    width: 100%;
    translate: -0px -1px;
    transform: scale(0.6);
}
.clan__stat__wrapper{
    width: 100%; 
    height: 100%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: start;

    gap: 5px;

}

#gold_clan_font{
    color: #d79618;
    filter: drop-shadow(1px 1px 1px #000000);
}
.bottom__side__wrapper{
    height: 43%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
background: linear-gradient(to bottom, rgba(5, 41, 54, 0.7), rgba(27, 101, 108, 0.7), rgba(30, 72, 83, 0.7), rgba(24, 90, 95, 0.7), rgba(4, 32, 42, 0.9));

    border-radius: 0.5rem;
    box-shadow: 0px 0px 8px rgb(0, 0, 0);

}
.progress__clan__lvl{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: white;
    filter: drop-shadow(1px 1px 1px #000000);
    margin-top: 55px;

}
.btns-list-clan{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;


}

.btns-list-clan .active{
    background: linear-gradient(to top, rgb(17, 61, 61), rgb(28, 75, 76), rgb(26, 120, 120), rgb(59, 132, 119));
    filter: drop-shadow(-20px 0px 10px rgba(0, 0, 0, 0.63));
    z-index: 2;
    border-right: 0;
    translate: 1px 0;
}
.btn__clan{
    /* background: url("./images/main1234.png") center center no-repeat; */
    /* background-size: cover; */
    min-width: 90%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    border: .1em groove #B18D01FF;
    border-radius: 0.8rem 0 0 0.8rem;
    transition: 0.3s;
        background: linear-gradient(to top, rgba(11, 35, 40, 0.73), rgba(15, 35, 44, 0.78), rgba(15, 74, 72, 0.79), rgba(44, 99, 93, 0.83));
    z-index: 1;
    font-weight: 500;
    font-size: 1.05em;
}



.btn__clan:hover{
  /*filter: brightness(1.5);*/



}
.active{



}

.tabs {
    width: 700px;
    margin: 20px auto;
    transition: 0.3s;
}

.tab-content {
    display: none;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.tab-content.active {
    display: flex;
}
.row__main__case__clan{
    width: 100%;
    height:35px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: rgba(35, 75, 66, 0.29);

}
.first__clan__row{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: start;
    background: linear-gradient(to top, rgba(11, 40, 38, 0.68), rgba(15, 43, 44, 0.7), rgba(15, 68, 74, 0.7));



}




#icon__clan_row,#toppers__clan_row1, #member__clan_row, #state__clan_row, #den__o4ki__clan_row, #vsevremya__o4ki__clan_row, #toppers__clan_row{
    width: 16%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px groove rgba(45, 75, 73, 0.84);
    height: 100%;


}
#icon__clan_row{
    width: 5%;
    border-left: none;
}
#vsevremya__o4ki__clan_row{
    width: 26%;
}
#member__clan_row{
    width: 26%;
}
#state__clan_row{
    width: 21%;
}
#toppers__clan_row p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    gap: 5px;
}
#toppers__clan_row1 p img{
    transform: scale(0.9);
}
#toppers__clan_row1 {
    width: 10%;
}
#toppers__clan_row{
    width: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
#toppers__clan_row img{

    background: url("./images/main1234.png") center center no-repeat;
    background-size: cover;
    padding: 4px 10px;
    
 }

#under__clan__name{

    z-index: 20;
    transform: scale(.5);
    translate: 0 -20px;
}
#hr-players{

    color: rgba(0, 0, 0, 0);
}

.stats__main_wrapper{


    border-radius: 10px;
    color: #ffffff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}
.stats-wrapperq{
    width: 100%;
    height: 100%;
    overflow-y: scroll;

}

.bottom-side{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dropdown-clan {
    position: relative;
    display: inline-block;
}

.dropdown-content-clan {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    gap: 5px;

    min-width: 150px;

    z-index: 9999;
    transition: 0.3s;
    padding: 5px 0;
    margin-top: 4px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: show-clan 1s;
    translate: 155px -30px;
}

.dropdown-content-clan a {
    color: #ffffff;
    padding: 10px 0;
    width: 155px;
    text-decoration: none;
    display: block;
    background: linear-gradient(to top, rgba(11, 40, 38, 0.96), rgba(15, 43, 44, 0.94), rgba(15, 68, 74, 0.98), rgba(44, 96, 99, 0.98));
    transition: 0.3s;
    text-align: center;
    border: 5px groove #9e6f15;
    border-radius: 15px;
}
.dropdown-content-clan a:hover {
    filter: brightness(1.5);
}


.show-clan {
    display: flex !important;
}
@keyframes show-clan {
    from {
        opacity: 0;
        translate: 155px -40px;
    }
    to{
        opacity: 1;
        translate: 155px -30px;
    }
}

#beautifull-1,#beautifull-2{
    transform: scale(2) rotate(-30deg);
    translate: -10px 20px;
}
#beautifull-1{
    transform: scaleX(-2) scaleY(2) rotate(-30deg);
  translate: 10px 20px;
  
}
/*.day-message-wrapper{*/
/*    height: 100%;*/
/*    width: 360px;*/




/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*}*/
/*.day-message-wrapper-input{*/
/*    width: 95%;*/
/*}*/
/*.day-message-wrapper-input input {*/
/*    width: 100%;*/
/*    height: 50px;*/
/*    background: none;*/
/*    color: white;*/
/*    border: none;*/
/*}*/
/*.day-message-wrapper-input input:focus {*/
/*    outline: none;*/

/*}*/
.message-box{
    width: 99%;
    height: 99%;
    color: white;
    text-wrap: wrap;
}

.bottom-side-main-right{
    width: 100%;
    height: 80%;
}
.top-side-main {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.right-top-side{
    width: 68%;
    height: 100%;
    border-left: 5px groove #2d4b49;
    background: rgba(18, 31, 30, 80);
}

.left-top-side{
    width: 68%;
    height: 100%;
  background: rgba(18, 31, 30, 80);
}
.top-lane{
    width: 99%;
    height: 15%;
    background: linear-gradient(to right, #0c2b2b, #112929);
    display: flex;
    justify-content: start;
    align-items: center;
    border-top: 4px groove rgba(36, 59, 56, 0.91);
    border-left: 4px groove rgba(36, 59, 56, 0.91);
    border-right: 4px groove rgba(36, 59, 56, 0.91);

    border-radius: 0.5rem 0.5rem 0 0;
}
.top-lane img{
    margin-right: 10px;
    margin-left: 5px;
}
.message-day, .lvl-clan{
    width:99%;
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(45, 75, 74, 0.27);

}

.message-day-wrapper, .clan-lvl-wrapper{
    background: rgba(29, 68, 70, 0.56);
    width: 100%;
    height:100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.message-box-top, .lvl-box-top{
    width: 99%;
    height: 85%;
    background: rgba(11, 57, 53, 0.2);
    border-radius: 0 0 1rem 1rem;
    border-bottom: 4px groove rgba(36, 59, 56, 0.91);
    border-left: 4px groove rgba(36, 59, 56, 0.91);
    border-right:4px groove rgba(36, 59, 56, 0.91);
    display: flex;
    justify-content: center;
    align-items: center;

}
#outputMassageDay{
    color:#d79618;
}
.message-box-top p, .lvl-box p{
    margin:10px 15px;
    color: #fff;
}
.progrs-lvl-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#lvl-progress-clan{

}
.quests-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.quests-alert-wrapper{
    color: rgba(255, 0, 0, 0.45);
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.progress-quests-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;

}

#mejline{
    transform: rotate(90deg);
}
.quests-display-wrapper{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card-quests{
   background: linear-gradient(400deg, #0f2425, #0f2526, #063c3d, #005556, #007d7d);
    border: 4px groove #13b7cd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 250px;
    overflow: hidden;
    min-height: 400px;
    border-radius: 1rem;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.76));
}
.send-wrapper{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.quests-accept-button{
    width: 75%;
    height: 45px;
    background: url("./images/accept-quest.png") no-repeat center center ;
    background-size: cover;
    border: none;
    text-align: center;
    color: #fcfbd4;
    transition: .2s;
    border-radius: .6rem;

    font-size: 1.005rem;
    z-index: 1;
    transition: .2s;
}
.quests-accept-button:hover{
        filter: brightness(.8);
}
.quests-accept-button:disabled{
    filter: grayscale(100%);
}
.button-wrapper{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: end;

}
.quests-awards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 15px;
}
.quests-awards1{
height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("./images/clan-lvl-reward.png") no-repeat center center ;
    background-size: contain;
    translate: -5px 0;
    animation: pulse 2s linear infinite;
}
@keyframes pulse {
    0%{
        filter: drop-shadow(0px 2px 10px rgb(0, 187, 255));
    }
    50%{
        filter: drop-shadow(0px 2px 10px rgba(27, 71, 63, 0.72));
    }
    100%{
        filter: drop-shadow(0px 2px 10px rgb(0, 187, 255));
    }
}
.quests-awards img{
    width:20px;
    height: 20px;
}
.quests-awards1 img{
    width:20px;
    height: 20px;
    translate: -2px 0;
}
.quest-task-name{
    color: #ffffff;
    font-weight: bolder;
}
#razd{
    opacity:0.5;
    transform: scale(0.7);
}
#underlined{
    transform: scale(1.2);
}
.quest-task-wrapper{
    width: 100%;
    height: 45px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-card-quest-wrapper{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-card-quest-wrapper img{
  transform: scale(1.2);
}
.back-wrapper-quests{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height:140px;
    flex-direction: column;

}
.back-wrapper-quests span{
    text-align: center;
    color: white;
    position: absolute;
    margin: 0 10px;
    opacity: 1;
    font-weight: bold;
 background: rgba(30, 52, 50, 0.73);
    border-radius: 1rem;
    border: 3px groove rgba(75, 137, 129, 0.91);
    padding: 10px 0;
    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.76));


}
.back-wrapper-quests img{
    transform: scale(2.1);
}
.img-list-back-quest img{
    transform: scale(3.5);
    z-index: -1;
}
.img-list-back-quest{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}
.applications-main-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.applications-banner{
    display: flex;
    width: 100%;
    height: 10%;

    justify-content: center;
    align-items: center;
    color: white;
}
.applications-list{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    gap: 5px;

}
.application{
    width: 95%;
    height: 75px;
    background: #103838;
    border:4px groove rgb(205, 191, 98);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.image-wrapper-application{
    width:15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 4px groove rgb(205, 191, 98);
}
#head{
    transform: scale(0.4);
}
.application-stats-clans{
    font-size: 1em;
    width: 100%;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0px;
    flex-wrap: wrap;
    padding: 10px 10px;

}
.application-stats-clans p{
    padding: 0;
    margin: 0;
}
.applications-aprove{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 4px groove rgb(205, 191, 98);
}
#aprove{
    transform: scale(1);
    transition: 0.3s;
}
#aprove:hover{
    filter: brightness(0.5);
}
#award{
    /* background: url(./images/main123456789.png) no-repeat center center ;
    background-size:cover; */
    background: #0c2b2b;
    border: 2px groove #b18d01;
    border-radius: 1rem;
    padding: 2px 35px;
    font-size: 0.8em;
    color: white;
    margin-bottom: 10px;

    font-weight: bolder;

}
#corner-button{
    transform: scale(1.4);
    filter: drop-shadow(0px 0px 20px rgb(0, 0, 0));
    z-index: 3;

}
.wrap-add-witch-nickname{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_with_nickname{
    padding:15px 10px;
    background: linear-gradient( #0f5052, #1c2b24);
    border-radius: 1rem;
    border: 4px groove rgb(140, 146, 95);
    color: #eee6b6;


    transition: .3s;
}
.add_with_nickname:hover{
    filter: brightness(0.8);
}

.settings-main-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.setting-top-section{
    display: flex;
    width: 100%;
    height: 35%;
    align-items: center;
    justify-content: center;
}
.setting-bottom-section{
    display: flex;
    width: 100%;
    height:65%;
    align-items: center;
    justify-content: space-evenly;

}
.rename-clan-button{
    width: 95%;
    height: 15%;
    background: url(./images/rename-clan.png) no-repeat center center;
    background-size: 250px 50px;
    color: #faf8d8;
    border: 0;
    transition: .3s;
}
.disban-clan-button{
    width: 95%;
    height: 15%;
    background: url(./images/disban-clan.png) no-repeat center center;
    background-size: 250px 50px;
    color: #faf8d8;
    border: 0;
    transition: .3s;
}
.disban-clan-button:hover, .rename-clan-button:hover{
    filter: brightness(0.8);
}
.setting-first-section{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 50px;


}
.setting-second-section{
    width: 50%;
    height: 80%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    text-align: center;
    gap: 20px;
}
.change-clan-icon-board{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 50px;
    margin-left: 50px;



}
#gerb-clan-settings, .wrap-change-icon{
    background: url("./images/main12345678991234567.png") center center no-repeat;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: start;
    border-radius: 50%;transform: scale(1.2);



}
.wrap-change-icon{
    background: url("./images/main1234567899123456.png") center center no-repeat;
    background-size: cover;
    padding: 5px;
    translate: -15px;
    transform: scale(1);
}
.change-tag-name-board{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;

}
.change-tag-name-board h1, .change-tag-name-board p, .setting-second-section h2{
    color: #d79b18;
    filter: drop-shadow(1px 1px 1px #000000);


}
.change-tag-name-board span{
    opacity: 0.6;

}
.change-tag-name-board p, .setting-second-section h3{
    font-size: 1.4em;
    color: #fffcf3;
}
.settings-fourth-section{
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
}
.settings-third-section{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: 100%;
}
.history-wrapper{
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    /*background: url("./images/history.png") center center no-repeat;*/
    background-size: cover;
    background: rgba(13, 31, 27, 0.42);

    border-radius: 15px;
    border: 4px groove rgb(205, 191, 98);
    backdrop-filter: blur(20px) opacity(0.5);
    z-index: 0;
}
.settings-history-top-lane{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    color: rgba(255, 238, 204, 0.95);
    border-bottom: 4px groove rgba(205, 191, 98, 0.31);
}
.clan-rating-wrapper{
    width: 100%;
    height: 100%;
    color: rgba(255, 255, 255, 0.8);
    overflow-y: scroll;
}
#clan-name-row, #vsevremya__o4ki__clana-row, #Name__clan_row{
   width: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 5px groove rgba(45, 75, 73, 0.84);
    height: 100%;

}
#clan-name-row{
    width: 74%;

    justify-content: start;
}
#clan-name-row p{
    margin-left: 20px;
}
#Name__clan_row{
    width: 74%;
   justify-content: start;

}
#Name__clan_row p{
    display: flex;
    justify-content: center;
    align-items: center;
}
#Name__clan_row p img{
    width: 25px;
    height: 25px;
    padding: 5px ;
    background: url("./images/main1234567899123456.png") center center no-repeat;
}

.create-clan{
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 300px;
    height:225px;
    background: url(./images/window.png) no-repeat center center;
    background-size: contain;
    gap: 15px;
    padding-top: 10px;
    animation: fade .2s;
    z-index: 5;
    backdrop-filter: blur(2px);
}
@keyframes fade {
    from{
        opacity: .6;
    }
    to {
        opacity: 1;
    }
}
#clan-create-input, .clan-create-input{
    padding: 5px 15px;
    background: rgba(22, 58, 78, 0.66);
    border: 4px groove rgba(205, 191, 98, 0.68);
    border-radius: 10px;
    color: white;
    transition: .3s;
}
#clan-create-input:focus, .clan-create-input:focus{
    outline: none;
    color: rgba(205, 191, 98, 0.8);
}
#top-bar-1, #top-bar-2{
    width: 25px;
    height: 25px;
}
#close-mini-windows{
    transform: scale(1.15);
    position: absolute;
    right: 5px;
    top: 10px;
}
#close-mini-window{
    position: absolute;
    right: 0;
    top: 0;
}
.buttons-clan-create-wrapper{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
}
#create-clan-button{
    padding: 5px 15px;
    background: rgb(38, 79, 102);
    border-radius: 0.5rem;
    border: 4px groove rgb(132, 122, 62);
    color: rgba(255, 255, 255, 0.64);
    transition: .3s;
    filter: drop-shadow(1px 0px 5px rgba(0, 0, 0, 0.58));
}
#create-clan-button:hover{
    background: rgb(40, 83, 108);
    filter: drop-shadow(1px 0px 5px rgba(0, 0, 0, 0.08));
}
#gerbSwitchInput{
    display: none;
}
.switch_clan_gerb{
    position: absolute;
    justify-content: center;
    gap: 5px;
    align-items: center;
    flex-direction: column;
  display: none;
    width: 300px;
    height:225px;
    background: url(./images/window.png) no-repeat center center;
    background-size: contain;
    padding-top: 10px;
    animation: fade .2s;
    z-index: 5;
    backdrop-filter: blur(2px);
}
.buttons_gerb_switch_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.gerbAcceptButton{
    display: flex;
    background: rgb(38, 79, 102);
    border-radius: 0.5rem;
    border: 4px groove rgb(132, 122, 62);
    color: rgba(255, 255, 255, 0.64);
    transition: .3s;
    filter: drop-shadow(1px 0px 5px rgba(0, 0, 0, 0.58));
    padding: 2px;
}
#gerbAcceptButton:disabled{
    background: rgb(102, 102, 102);
    border:0;
}
#gerbAcceptButton{
    padding: 5px;
    background: rgb(38, 102, 87);
}
.gerbAcceptButton:hover{

    filter: drop-shadow(1px 0px 5px rgba(0, 0, 0, 0.08));
}
.disbanClanAccept{
    position: absolute;
    justify-content: center;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    display: none;
    width: 300px;
    height:225px;
    background: url(./images/window.png) no-repeat center center;
    background-size: contain;
    padding-top: 10px;
    animation: fade .2s;
    z-index: 5;
    backdrop-filter: blur(2px);
    color: rgba(255, 255, 255, 0.77);
    text-align: center;
    text-wrap:  nowrap;
}
.message-day-edit{
    position: absolute;
    justify-content: center;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    display: none;
    width: 300px;
    height:225px;
    background: url(./images/window.png) no-repeat center center;
    background-size: contain;
    padding-top: 10px;
    animation: fade .2s;
    z-index: 5;
    backdrop-filter: blur(2px);
    color: rgba(255, 255, 255, 0.77);
    text-align: center;
    text-wrap:  nowrap;
}
.disbanClanAccept p{
    font-size: 14px;

}
.disbanButton{
    width: 95%;
    height: 15%;
    background: url(./images/disban-clan.png) no-repeat center center;
    background-size: 150px 30px;
    color: #faf8d8;
    border: 0;
    transition: .3s;
    filter:grayscale(0%);
}
.btn{
    width: 95%;
    height: 15%;
    background: url(./images/rename-clan.png) no-repeat center center;
    background-size: 150px 30px;
    color: #faf8d8;
    border: 0;
    transition: .3s;
    filter:grayscale(0%);
}
.disbanButton:disabled{
    filter:grayscale(80%);
}
.addWithNickname{
    position: absolute;
    justify-content: center;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    display: none;
    width: 300px;
    height:225px;
    background: url(./images/window.png) no-repeat center center;
    background-size: contain;
    padding-top: 10px;
    animation: fade .2s;
    z-index: 5;
    backdrop-filter: blur(2px);
}
#smallAlertRed, #smallAlertGreen{
    display: none;
}
#memberSetting{
    display: none;
}
.member-settings{
    position: absolute;
    justify-content: center;
    gap: 5px;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 300px;
    height:225px;
    background: url(./images/window.png) no-repeat center center;
    background-size: contain;
    padding-top: 10px;
    animation: fade .2s;
    z-index: 5;
    backdrop-filter: blur(2px);

}

.membersettings-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
#clan-information{
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(.80);
}
.clanManagement{
    padding: 50px;
    width: 80%;
    height: 80%;
    position: absolute;
    z-index: 5;
    border: 4px groove #153d3c;
    border-radius: 1rem;
    background: rgba(19, 57, 57, 0.77);
    backdrop-filter: blur(10px);
    overflow-y: scroll;
    color: rgba(255, 255, 255, 0.69);
    display: none;
    animation: fade .2s;
}
.clanManagement h2{
    text-align: center;
}